* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    font-size: 62.5%;

    --primary-color:240; /*  #121214 */
    --secondary-color: #FFF;
    --terceary-color: 194;

    --fc-color: hsl(240, 6%, 21%);

    --bg-color: #FFF;
    --bg-btn: #FFF;
    --fill-btn: #323238;
    --svg-fill: #121214;
    --svg-bg: #E1E1E6;
    --svg-pressed-fill: hsl(0, 0%, 100%);
    --svg-pressed-bg: #02789C;
    --slider-bg: #000;
    --pressed-slider-bg: #FFF;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 10rem 1fr;
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: var(--bg-color);
}

header {
    position: relative;
}

header svg {
    position: absolute;
    top: 6rem;
    right: 6rem;
    cursor: pointer;
}

.darkmode:root {
    
    /* --primary-color: white;
    --secondary-color: 240;
    --terceary-color: 195; */

    --fc-color: #FFF;

    --bg-color: #121214;
    --bg-btn: #121214;
    --fill-btn:#FFF;
    --svg-bg: #29292E;
    --svg-fill: #C4C4CC;
    --svg-pressed-bg: #0A3442;
    --slider-bg: #FFF;
}


main {
    display: flex;
    flex-direction: column;
    height: 75rem;
    gap: 1rem;
}

.hide {
    display: none;
}

.wrapper {
    width: 32.1rem;
    height: 23rem;

    margin: 10rem auto 0;
    
    display: flex;
    flex-direction: column;
    gap: 4rem;   
}

.timer {
    height: 11.7rem;

    color: var(--fc-color);
    font-size: 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    padding: 0 1rem 0;

    height: 6rem;

    display: flex;
    justify-content: space-between;
}

.controls button {
    border: none;
    background-color: var(--bg-btn);
    transition: .3s;
    border-radius: 50%;
    background-color: transparent;
}

.controls button svg:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

button svg path {
    fill: var(--fill-btn);
}

button svg rect {
    fill: var(--fill-btn);
}

button svg rect + rect {
    fill: var(--fill-btn);
}


.cards {
    margin: 2rem auto;
    width: 31rem;
    height: 31rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;    
}

.card {
    border-radius: 2.6rem;
    transition: .3s;
    cursor: pointer;
}

.card:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
    scale: 1.05;
}

.cards svg path {
    fill: var(--svg-bg);
}

.cards path + path {
    fill:var(--svg-fill);
}

.cards .pressed path {
    fill: var(--svg-pressed-bg);
}

.cards .pressed path + path {
    fill: var(--svg-pressed-fill);
}

.pressed .slider {
    background-color: var(--pressed-slider-bg);
}

.pressed .slider::-moz-range-thumb {
    background-color: var(--pressed-slider-bg);
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:end;
}

.slider {
    position: absolute;
    z-index: 1;
    width: 70%;
    height: .4rem;
    cursor: pointer;
    margin-bottom: 2rem;
    appearance: none;
    background-color: var(--slider-bg);
    border-radius: 4rem;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: var(--slider-bg);
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: var(--slider-bg);
    border: none;
}



@media (min-width : 900px) {

    main {
        width: 82.1rem;
        height: 63.6rem;

        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        
        margin: 0 auto;
    }

    .wrapper {
        margin: 0;
        margin-left: 0.5rem;
    }    

    .cards {
        margin: 0;
        margin-right: 0.5rem; 
    }
    
}